# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /


# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:YOUR_URL_HERE
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:YOUR_URL_HERE



# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:YOUR_URL_HERE
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(?:www\.)?(DOMAIN\.com\.mx)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]
RewriteRule ^$ public/index.php [L]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:YOUR_URL_HERE
AddHandler application/x-httpd-php82 .php .php5 .php4 .php3
